/* screen - macbook-pro-14u34-8 */

.macbook-pro-14u34-8 {
  background-color: var(--cultured-pearl);
  height: 6315px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.macbook-pro-14u34-8 .overlap-group11 {
  align-items: flex-start;
  background-color: var(--flamingo);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 422px;
  padding: 102px 125px;
  position: absolute;
  top: 1440px;
  width: 1512px;
}

.macbook-pro-14u34-8 .diagrama {
  letter-spacing: 0;
  line-height: normal;
  min-height: 116px;
}

.macbook-pro-14u34-8 .span0 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
}

.macbook-pro-14u34-8 .proceso-de-creacin {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 97px;
}

.macbook-pro-14u34-8 .rectangle-14 {
  background-color: var(--flamingo);
  height: 185px;
  left: 0;
  position: absolute;
  top: 4532px;
  width: 1512px;
}

.macbook-pro-14u34-8 .overlap-group9 {
  height: 184px;
  left: 610px;
  position: absolute;
  top: 3296px;
  width: 301px;
}

.macbook-pro-14u34-8 .line-90 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 132px;
}

.macbook-pro-14u34-8 .overlap-group4 {
  align-items: flex-end;
  background-color: var(--tonys-pink);
  border-radius: 91px;
  display: flex;
  height: 182px;
  left: 117px;
  min-width: 182px;
  padding: 41px 36px;
  position: absolute;
  top: 2px;
}

.macbook-pro-14u34-8 .overlap-group26 {
  height: 266px;
  left: 582px;
  position: absolute;
  top: 2543px;
  width: 198px;
}

.macbook-pro-14u34-8 .line-91 {
  height: 103px;
  left: 0;
  position: absolute;
  top: 164px;
  width: 71px;
}

.macbook-pro-14u34-8 .overlap-group2 {
  align-items: flex-start;
  background-color: var(--tonys-pink);
  border-radius: 91px;
  display: flex;
  height: 182px;
  left: 14px;
  min-width: 182px;
  padding: 42px 38px;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-8 .number {
  letter-spacing: 0;
  line-height: normal;
  min-height: 97px;
}

.macbook-pro-14u34-8 .overlap-group20 {
  height: 380px;
  left: 252px;
  position: absolute;
  top: 2429px;
  width: 186px;
}

.macbook-pro-14u34-8 .line-92 {
  height: 200px;
  left: 92px;
  position: absolute;
  top: 180px;
  width: 3px;
}

.macbook-pro-14u34-8 .overlap-group1 {
  background-color: var(--black);
  border-radius: 91px;
  height: 182px;
  left: 0;
  position: absolute;
  top: 0;
  width: 182px;
}

.macbook-pro-14u34-8 .number-1 {
  left: 43px;
  position: absolute;
  top: 43px;
}

.macbook-pro-14u34-8 .ellipse-35 {
  background-color: var(--black);
  border-radius: 91px;
  height: 182px;
  left: 0;
  position: absolute;
  top: 0;
  width: 182px;
}

.macbook-pro-14u34-8 .overlap-group28 {
  height: 378px;
  left: 256px;
  position: absolute;
  top: 3546px;
  width: 184px;
}

.macbook-pro-14u34-8 .line-93 {
  height: 200px;
  left: 88px;
  position: absolute;
  top: 0;
  width: 3px;
}

.macbook-pro-14u34-8 .overlap-group6 {
  align-items: flex-end;
  background-color: var(--tonys-pink);
  border-radius: 91px;
  display: flex;
  height: 182px;
  left: 0;
  min-width: 182px;
  padding: 42px 37px;
  position: absolute;
  top: 196px;
}

.macbook-pro-14u34-8 .number-2 {
  min-height: 97px;
  min-width: 108px;
}

.macbook-pro-14u34-8 .overlap-group17 {
  height: 182px;
  left: 610px;
  position: absolute;
  top: 2892px;
  width: 301px;
}

.macbook-pro-14u34-8 .line-9 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 120px;
  width: 137px;
}

.macbook-pro-14u34-8 .overlap-group3 {
  align-items: flex-end;
  background-color: var(--black);
  border-radius: 91px;
  display: flex;
  height: 182px;
  left: 117px;
  min-width: 182px;
  padding: 41px 37px;
  position: absolute;
  top: 0;
}

.macbook-pro-14u34-8 .overlap-group23 {
  height: 296px;
  left: 552px;
  position: absolute;
  top: 3510px;
  width: 228px;
}

.macbook-pro-14u34-8 .line-96 {
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 101px;
}

.macbook-pro-14u34-8 .overlap-group5 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 91px;
  display: flex;
  height: 182px;
  left: 44px;
  min-width: 182px;
  padding: 42px 37px;
  position: absolute;
  top: 114px;
}

.macbook-pro-14u34-8 .overlap-group24 {
  height: 92px;
  left: 918px;
  position: absolute;
  top: 3382px;
  width: 447px;
}

.macbook-pro-14u34-8 .line-97 {
  height: 41px;
  left: 222px;
  position: absolute;
  top: 50px;
  width: 3px;
}

.macbook-pro-14u34-8 .produccin-y-montaje {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 447px;
}

.macbook-pro-14u34-8 .group-13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 23px;
  left: 103px;
  min-height: 637px;
  position: absolute;
  top: 2843px;
  width: 502px;
}

.macbook-pro-14u34-8 .proceso-de-creacin-fibre-reactive {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4.0px;
  min-height: 122px;
  min-width: 498px;
  text-align: center;
}

.macbook-pro-14u34-8 .overlap-group {
  height: 433px;
  margin-right: 11.0px;
  position: relative;
  width: 411px;
}

.macbook-pro-14u34-8 .ellipse {
  background-color: var(--mine-shaft);
  border-radius: 205.5px;
  height: 411px;
  left: 0;
  position: absolute;
  top: 0;
  width: 411px;
}

.macbook-pro-14u34-8 .file-20 {
  height: 367px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 245px;
}

.macbook-pro-14u34-8 .by-donna-franklin {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 16.0px;
  min-height: 36px;
  min-width: 264px;
  text-align: center;
  white-space: nowrap;
}

.macbook-pro-14u34-8 .humedad {
  left: 608px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 1891px;
  white-space: nowrap;
  width: 189px;
}

.macbook-pro-14u34-8 .overlap-group29 {
  height: 108px;
  left: 151px;
  position: absolute;
  top: 2110px;
  width: 383px;
}

.macbook-pro-14u34-8 .colaboracin-interdi {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 383px;
}

.macbook-pro-14u34-8 .span0-2 {
  color: var(--black);
  font-weight: 600;
}

.macbook-pro-14u34-8 .line-109 {
  height: 41px;
  left: 194px;
  position: absolute;
  top: 0;
  width: 3px;
}

.macbook-pro-14u34-8 .estudio-de-comportam {
  left: 185px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 1925px;
  width: 313px;
}

.macbook-pro-14u34-8 .temperatura {
  left: 608px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 1943px;
  white-space: nowrap;
  width: 235px;
}

.macbook-pro-14u34-8 .name {
  left: 612px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 1989px;
  white-space: nowrap;
  width: 168px;
}

.macbook-pro-14u34-8 .overlap-group-container {
  height: 100px;
  left: 512px;
  position: absolute;
  top: 1908px;
  width: 96px;
}

.macbook-pro-14u34-8 .overlap-group27 {
  align-items: flex-start;
  background-image: url(../img/line-49.svg);
  background-size: 100% 100%;
  display: flex;
  height: 3px;
  left: 48px;
  min-width: 48px;
  position: absolute;
  top: 9px;
}

.macbook-pro-14u34-8 .line-101 {
  height: 3px;
  width: 48px;
}

.macbook-pro-14u34-8 .line-container {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 90px;
}

.macbook-pro-14u34-8 .line-99 {
  height: 3px;
  left: 42px;
  position: absolute;
  top: 52px;
  width: 48px;
}

.macbook-pro-14u34-8 .line-10 {
  height: 3px;
  left: 42px;
  position: absolute;
  top: 97px;
  width: 48px;
}

.macbook-pro-14u34-8 .line-102 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 52px;
  width: 90px;
}

.macbook-pro-14u34-8 .line-104 {
  height: 100px;
  left: 42px;
  position: absolute;
  top: 0;
  width: 3px;
}

.macbook-pro-14u34-8 .overlap-group16 {
  height: 176px;
  left: 136px;
  position: absolute;
  top: 2222px;
  width: 422px;
}

.macbook-pro-14u34-8 .investigacin-cient {
  left: 0;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 84px;
  width: 422px;
}

.macbook-pro-14u34-8 .line-105 {
  height: 89px;
  left: 210px;
  position: absolute;
  top: 0;
  width: 3px;
}

.macbook-pro-14u34-8 .overlap-group15 {
  height: 100px;
  left: 194px;
  position: absolute;
  top: 2000px;
  width: 297px;
}

.macbook-pro-14u34-8 .seleccin-del-hongo {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 297px;
}

.macbook-pro-14u34-8 .line-121 {
  height: 41px;
  left: 152px;
  position: absolute;
  top: 0;
  width: 3px;
}

.macbook-pro-14u34-8 .line-106 {
  height: 42px;
  left: 1008px;
  position: absolute;
  top: 2532px;
  width: 3px;
}

.macbook-pro-14u34-8 .overlap-group21 {
  height: 116px;
  left: 843px;
  position: absolute;
  top: 2331px;
  width: 333px;
}

.macbook-pro-14u34-8 .line-107 {
  height: 42px;
  left: 166px;
  position: absolute;
  top: 74px;
  width: 3px;
}

.macbook-pro-14u34-8 .objetivo-explorar-b {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 333px;
}

.macbook-pro-14u34-8 .line-108 {
  height: 42px;
  left: 1008px;
  position: absolute;
  top: 2286px;
  width: 3px;
}

.macbook-pro-14u34-8 .overlap-group13 {
  height: 321px;
  left: 944px;
  position: absolute;
  top: 2807px;
  width: 461px;
}

.macbook-pro-14u34-8 .line-110 {
  height: 41px;
  left: 230px;
  position: absolute;
  top: 96px;
  width: 3px;
}

.macbook-pro-14u34-8 .line-11 {
  height: 41px;
  left: 230px;
  position: absolute;
  top: 212px;
  width: 3px;
}

.macbook-pro-14u34-8 .integracin-tecnolg {
  left: 19px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 423px;
}

.macbook-pro-14u34-8 .sistema-modular-inf {
  left: 43px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 137px;
  width: 375px;
}

.macbook-pro-14u34-8 .variabilidad-biolgi {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 252px;
  width: 461px;
}

.macbook-pro-14u34-8 .overlap-group19 {
  align-items: flex-start;
  background-image: url(../img/line-109.svg);
  background-size: 100% 100%;
  display: flex;
  height: 41px;
  left: 1174px;
  min-width: 3px;
  position: absolute;
  top: 3140px;
}

.macbook-pro-14u34-8 .line-114 {
  height: 41px;
  width: 3px;
}

.macbook-pro-14u34-8 .overlap-group10 {
  height: 148px;
  left: 622px;
  position: absolute;
  top: 3854px;
  width: 385px;
}

.macbook-pro-14u34-8 .line-115 {
  height: 41px;
  left: 192px;
  position: absolute;
  top: 106px;
  width: 3px;
}

.macbook-pro-14u34-8 .programacin-del-crecimiento-biolgico {
  left: 0;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 385px;
}

.macbook-pro-14u34-8 .line-116 {
  height: 41px;
  left: 814px;
  position: absolute;
  top: 4124px;
  width: 3px;
}

.macbook-pro-14u34-8 .line-117 {
  height: 41px;
  left: 1144px;
  position: absolute;
  top: 3560px;
  width: 3px;
}

.macbook-pro-14u34-8 .line-118 {
  height: 41px;
  left: 346px;
  position: absolute;
  top: 4054px;
  width: 3px;
}

.macbook-pro-14u34-8 .line-119 {
  height: 41px;
  left: 346px;
  position: absolute;
  top: 4208px;
  width: 3px;
}

.macbook-pro-14u34-8 .overlap-group22 {
  height: 116px;
  left: 148px;
  position: absolute;
  top: 4368px;
  width: 398px;
}

.macbook-pro-14u34-8 .line-120 {
  height: 41px;
  left: 198px;
  position: absolute;
  top: 0;
  width: 3px;
}

.macbook-pro-14u34-8 .interaccin-con-el-p {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 398px;
}

.macbook-pro-14u34-8 .line-container-1 {
  height: 249px;
  left: 1008px;
  top: 1976px;
}

.macbook-pro-14u34-8 .line-122 {
  height: 249px;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

.macbook-pro-14u34-8 .line-123 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.macbook-pro-14u34-8 .line-124 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 86px;
  width: 48px;
}

.macbook-pro-14u34-8 .line-125 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 176px;
  width: 48px;
}

.macbook-pro-14u34-8 .idea-principal-pren {
  left: 858px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2455px;
  width: 303px;
}

.macbook-pro-14u34-8 .principios-clave {
  left: 915px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2240px;
  width: 190px;
}

.macbook-pro-14u34-8 .bioarte-arte-con-or {
  left: 1072px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1959px;
  width: 252px;
}

.macbook-pro-14u34-8 .conceptualizacin-y-diseo-del-proyecto {
  left: 834px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 2580px;
  width: 352px;
}

.macbook-pro-14u34-8 .monitorizacin-ambie {
  left: 944px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 3186px;
  width: 458px;
}

.macbook-pro-14u34-8 .line-container-2 {
  height: 97px;
  left: 998px;
  top: 3658px;
}

.macbook-pro-14u34-8 .line-12 {
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

.macbook-pro-14u34-8 .line-1 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 48px;
}

.macbook-pro-14u34-8 .line-1-1 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 94px;
  width: 48px;
}

.macbook-pro-14u34-8 .tela-porosa-biodegradable {
  left: 1056px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 3677px;
  white-space: nowrap;
  width: 627px;
}

.macbook-pro-14u34-8 .aplicacin-del-hongo-en-la-superficie {
  left: 1056px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 3734px;
  width: 266px;
}

.macbook-pro-14u34-8 .crecimiento-en-la-pr {
  left: 958px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 3484px;
  width: 376px;
}

.macbook-pro-14u34-8 .confeccin-de-la-prenda {
  left: 985px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 3607px;
  white-space: nowrap;
  width: 307px;
}

.macbook-pro-14u34-8 .crecimiento-controla {
  left: 618px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 4009px;
  width: 386px;
}

.macbook-pro-14u34-8 .proceso-abductivo-f {
  left: 609px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 4173px;
  width: 394px;
}

.macbook-pro-14u34-8 .exhibicin-y-presentacin {
  left: 202px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 3958px;
  width: 290px;
}

.macbook-pro-14u34-8 .instalacin-sistema {
  left: 208px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 4097px;
  width: 278px;
}

.macbook-pro-14u34-8 .visualizacin-en-tie {
  left: 159px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 4252px;
  width: 376px;
}

.macbook-pro-14u34-8 .overlap-group14 {
  height: 1365px;
  left: 95px;
  position: absolute;
  top: 74px;
  width: 1595px;
}

.macbook-pro-14u34-8 .fibre-reactive-2004 {
  left: 196px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 930px;
  width: 400px;
}

.macbook-pro-14u34-8 .permitiendo-que-el-h {
  left: 698px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 913px;
  width: 400px;
}

.macbook-pro-14u34-8 .fiber-recative {
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 910px;
}

.macbook-pro-14u34-8 .fiber-recative-1 {
  left: 14px;
  top: 145px;
}

.macbook-pro-14u34-8 .fiber-recative-2 {
  left: 17px;
  top: 289px;
}

.macbook-pro-14u34-8 .fiber-recative-3 {
  left: 685px;
  top: 289px;
}

.macbook-pro-14u34-8 .fiber-recative-4 {
  left: 677px;
  top: 146px;
}

.macbook-pro-14u34-8 .fiber-recative-5 {
  left: 677px;
  top: 0;
}

.macbook-pro-14u34-8 .fiber-recative-6 {
  left: 14px;
  top: 417px;
}

.macbook-pro-14u34-8 .fiber-recative-7 {
  left: 685px;
  top: 418px;
}

.macbook-pro-14u34-8 .rectangle-15 {
  border: 3px dashed;
  border-color: var(--mine-shaft);
  height: 401px;
  left: 46px;
  position: absolute;
  top: 902px;
  width: 1197px;
}

.macbook-pro-14u34-8 .name-1 {
  cursor: pointer;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 676px;
  width: 573px;
}

.macbook-pro-14u34-8 .obra {
  cursor: pointer;
  left: 593px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 676px;
  width: 573px;
}

.macbook-pro-14u34-8 .lev-manovich {
  cursor: pointer;
  left: 1014px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 676px;
  width: 573px;
}

.macbook-pro-14u34-8 .slice-1 {
  left: 0;
  top: 677px;
}

.macbook-pro-14u34-8 .slice-2 {
  left: 469px;
  top: 675px;
}

.macbook-pro-14u34-8 .slice-3 {
  left: 964px;
  top: 672px;
}

.macbook-pro-14u34-8 .title {
  left: 111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4803px;
  width: 577px;
}

.macbook-pro-14u34-8 .ellipse-10 {
  height: 194px;
  left: 850px;
  position: absolute;
  top: 4734px;
  width: 158px;
}

.macbook-pro-14u34-8 .ellipse-11 {
  height: 137px;
  left: 1087px;
  position: absolute;
  top: 4916px;
  width: 138px;
}

.macbook-pro-14u34-8 .ellipse-12 {
  height: 68px;
  left: 888px;
  position: absolute;
  top: 4985px;
  width: 68px;
}

.macbook-pro-14u34-8 .ellipse-13 {
  height: 68px;
  left: 1071px;
  position: absolute;
  top: 4791px;
  width: 68px;
}

.macbook-pro-14u34-8 .ellipse-14 {
  height: 137px;
  left: 1253px;
  position: absolute;
  top: 4791px;
  width: 138px;
}

.macbook-pro-14u34-8 .overlap-group7 {
  height: 480px;
  left: 162px;
  position: absolute;
  top: 5132px;
  width: 1200px;
}

.macbook-pro-14u34-8 .rectangle-10 {
  border: 3px dashed;
  border-color: var(--mine-shaft);
  height: 401px;
  left: 4px;
  position: absolute;
  top: 78px;
  width: 1197px;
}

.macbook-pro-14u34-8 .rectangle-11 {
  background-color: var(--white);
  height: 39px;
  left: 0;
  position: absolute;
  top: 72px;
  width: 370px;
}

.macbook-pro-14u34-8 .overlap-group12 {
  height: 484px;
  left: 160px;
  position: absolute;
  top: 5666px;
  width: 1240px;
}

.macbook-pro-14u34-8 .rectangle-12 {
  border: 3px dashed;
  border-color: var(--mine-shaft);
  height: 401px;
  left: 0;
  position: absolute;
  top: 84px;
  width: 1197px;
}

.macbook-pro-14u34-8 .rectangle-13 {
  background-color: var(--white);
  height: 39px;
  left: 698px;
  position: absolute;
  top: 72px;
  width: 518px;
}

.macbook-pro-14u34-8 .fiber-recative-8 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 910px;
}

.macbook-pro-14u34-8 .line-container-3 {
  position: absolute;
  width: 48px;
}

.macbook-pro-14u34-8 .slice {
  height: 58px;
  position: absolute;
  width: 374px;
}

.slice, .name-1, .obra, .lev-manovich {
    cursor: pointer;
    transition: transform 0.3s ease; /* Transición suave */
}
.slice:hover, .name-1:hover, .obra:hover, .lev-manovich:hover {
    transform: scale(1.05); /* Aumenta el tamaño un 5% al pasar el mouse */
}
