:root { 
  --black: #000000;
  --cultured-pearl: #f5f5f5;
  --eerie-black: #1e1e1e;
  --flamingo: #f05e33;
  --mine-shaft: #333333;
  --tonys-pink: #efa283;
  --white: #ffffff;
 
  --font-size-l: 25px;
  --font-size-m: 24px;
  --font-size-s: 20px;
  --font-size-xl: 32px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 80px;
  --font-size-xxxxl: 96px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-extra-light-black-24px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 200;
}

.inter-medium-black-24px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-flamingo-80px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-mine-shaft-32px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-mine-shaft-25px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-medium-flamingo-25px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-flamingo-25px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-medium-flamingo-32px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-flamingo-32px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-mine-shaft-32px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-mine-shaft-96px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-96px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-flamingo-25px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-flamingo-32px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-96px {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-extra-light-flamingo-25px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 200;
}

.inter-normal-mine-shaft-25px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-extra-light-black-96px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 200;
}

.inter-extra-light-flamingo-32px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 200;
}

.inter-bold-flamingo-96px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-mine-shaft-20px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-mine-shaft-20px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.inter-medium-mine-shaft-32px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-flamingo-35px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-flamingo-50px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-mine-shaft-20px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-35px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-40px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: italic;
  font-weight: 700;
}

.inter-bold-black-40px-2 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-flamingo-40px {
  color: var(--flamingo);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}
